<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBBZSrlXIUnAm-fXhK44Ku1ffdggiogxrk</string>
	<key>GCM_SENDER_ID</key>
	<string>724239220075</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.socialButterfly</string>
	<key>PROJECT_ID</key>
	<string>social-butterfly-3c88f</string>
	<key>STORAGE_BUCKET</key>
	<string>social-butterfly-3c88f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:724239220075:ios:0a9c89ebf654a03f7c602e</string>
</dict>
</plist>